.container {
  width: 100%;
  font-size: 32px;
}

.digit-box {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digit-cylinder-container {
  max-height: 42px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cylinder {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  transition: all 1s;
}

.decimal-point {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
