<div class="container" #containerRef>
  <div class="digit-cylinder-container" *ngIf="showCylinder">
    <div #cylinder>
      <div class="digit-box">9</div>
      <div class="digit-box">8</div>
      <div class="digit-box">7</div>
      <div class="digit-box">6</div>
      <div class="digit-box">5</div>
      <div class="digit-box">4</div>
      <div class="digit-box">3</div>
      <div class="digit-box">2</div>
      <div class="digit-box">1</div>
      <div class="digit-box">0</div>
    </div>
  </div>
  <div *ngIf="!showCylinder" class="decimal-point">{{ currentDigit }}</div>
</div>
