<main>
  <div class="column">
    <div class="text-small">Powered By</div>
    <div class="logos">
      <a href="https://angular.io/"
        ><img
          src="../../assets/images/logo.png"
          alt="Angular"
          matTooltip="Angular"
      /></a>
      <a href="https://spring.io/projects/spring-boot">
        <img
          src="../../assets/images/spring-boot.png"
          alt="Spring-Boot"
          matTooltip="Spring Boot"
      /></a>
      <a href="https://apexcharts.com/"
        ><img
          src="../../assets/images/apexcharts-logo.svg"
          alt="Apexcharts"
          matTooltip="Apexcharts"
      /></a>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="text-small">GitHub Repository:</div>
      <a
        href="https://github.com/rwu13795/project-angular-spring-boot-investing-simulator-CLIENT"
      >
        <img class="github" src="../../assets/images/github.jpg" alt="GitHub"
      /></a>
    </div>
    <div class="row">
      <div class="text-small">Contact:</div>
      rwu13795@gmail.com
    </div>
  </div>
  <div>&copy; 2023 by Ray Wu</div>
</main>
