<main>
  <div class="column">
    <div class="text-small">Powered By</div>
    <div class="logos">
      <img src="../../assets/images/logo.png" alt="Angular" />
      <img src="../../assets/images/spring-boot.png" alt="Spring-Boot" />
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="text-small">GitHub Repository:</div>
      <a
        href="https://github.com/rwu13795/project-angular-spring-boot-investing-simulator-CLIENT"
      >
        <img class="github" src="../../assets/images/github.jpg" alt="GitHub"
      /></a>
    </div>
    <div class="row">
      <div class="text-small">Contact:</div>
      rwu13795@gmail.com
    </div>
  </div>
  <div>&copy; 2023 by Ray Wu</div>
</main>
