main {
  margin: 6px 0;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 6px 0px;
  display: grid;
  grid-template-columns: 64px 94px 64px;
  grid-gap: 16px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}
.symbol {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.positive {
  padding: 4px;
  border-radius: 2px;
  background-color: var(--color-positive-1);
  color: var(--color-positive-2);
  text-align: center;
}

.negative {
  padding: 4px;
  border-radius: 2px;
  background-color: var(--color-negative-1);
  color: var(--color-negative-2);
  text-align: center;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.highlight {
  position: absolute;
  min-width: 100%;
  min-height: 6px;
  background: linear-gradient(
      to right,
      var(--main-400) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    no-repeat;
  left: -101%;
  top: 70%;
  transition: all 0.3s;
}

.wrapper:hover .highlight {
  transform: translateX(101%);
  transition: all 0.3s;
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .wrapper {
    grid-template-columns: 54px 84px 54px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper::before {
    display: none;
  }
  .wrapper:hover {
    color: var(--main-400);
    transition: all 0.3s;
  }
}

@media screen and (max-width: 930px) {
  .wrapper {
    grid-template-columns: min(64px, 8vw) min(94px, 15vw);
    grid-gap: 12px;
    font-size: min(14px, 2.8vw);
  }
  .price {
    display: none;
  }
}
