<main *ngIf="entry" @entryAnimation>
  <div
    [routerLink]="['/stock', 'financial-summary', entry.symbol]"
    class="wrapper"
  >
    <div class="highlight"></div>
    <div class="symbol">{{ entry.symbol }}</div>
    <div
      [ngClass]="{
        positive: entry.changesPercentage >= 0,
        negative: entry.changesPercentage < 0
      }"
    >
      <span *ngIf="entry.changesPercentage > 0">+</span
      >{{ toFixedLocale(entry.changesPercentage) }}%
    </div>
    <div class="price">${{ toFixedLocale(entry.price) }}</div>
  </div>
</main>
