<main>
  <div
    class="wrapper"
    *ngFor="let index of indices"
    [ngClass]="{ active: index.symbol === targetSymbol }"
    (click)="onSelectIndex(index.symbol, index.name)"
  >
    <div class="name">{{ index.name }}</div>
    <div class="row">
      <div class="row">
        <div class="symbol">{{ index._symbol }}</div>
        <div>{{ index.price }}</div>
      </div>
      <div [ngClass]="index.change >= 0 ? 'positive' : 'negative'" class="row">
        <div>
          <span *ngIf="index.change >= 0">+</span
          >{{ toFixedLocale(index.change) }}
        </div>
        <div>
          (<span *ngIf="index.changesPercentage >= 0">+</span
          >{{ toFixedLocale(index.changesPercentage) }}%)
        </div>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="indices.length === 0">
    <app-loading-spinner></app-loading-spinner>
  </div>
</main>
