<main>
  <div
    class="wrapper"
    *ngFor="let index of indices"
    [ngClass]="{ active: index.symbol === targetSymbol }"
    (click)="onSelectIndex(index.symbol, index.name)"
  >
    <div class="name">{{ index.name }}</div>
    <div class="row">
      <div class="row">
        <div class="symbol">{{ index._symbol }}</div>
        <div>{{ index.price }}</div>
      </div>
      <div [ngClass]="index.change >= 0 ? 'positive' : 'negative'" class="row">
        <div>{{ index.change >= 0 && "+" }}{{ toFixed_2(index.change) }}</div>
        <div>
          ({{ index.changesPercentage >= 0 && "+"
          }}{{ toFixed_2(index.changesPercentage) }}%)
        </div>
      </div>
    </div>
  </div>
</main>
