<main>
  <h1>summary</h1>
  <div class="summary">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>

  <div class="chart-group">
    <div class="chart-wrapper">
      <app-area-chart [symbol]="symbol"></app-area-chart>
    </div>
    <div class="chart-wrapper">
      <app-revenue-chart [symbol]="symbol"></app-revenue-chart>
    </div>
  </div>

  <div>Lastest {{ symbol }} News</div>
</main>
