:host {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.preview-list {
  display: none;
}

.summary {
  margin-bottom: 30px;
  max-height: 320px;
  width: 98%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.cell {
  height: 50px;
  width: 33.33%;
  border-bottom: var(--main-600) solid 2px;
  border-right: var(--main-600) solid 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.cell:nth-child(13),
.cell:nth-child(14),
.cell:nth-child(15),
.cell:nth-child(16),
.cell:nth-child(17),
.cell:nth-child(18) {
  border-right: none;
}
.cell span {
  padding: 0 16px;
}
.cell span:first-child {
  color: rgb(82, 82, 82);
}
.cell span:last-child {
  font-weight: bold;
  text-align: right;
}

.chart-group {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.chart-wrapper {
  width: 48%;
}

@media screen and (max-width: 900px) {
  .chart-group {
    flex-flow: row wrap;
    gap: 4px;
  }
  .chart-wrapper {
    width: 90%;
  }
  .summary {
    max-height: 490px;
  }
  .cell {
    width: 50%;
    font-size: min(16px, 3vw);
  }
  .cell span {
    padding: 0 6px;
  }

  .cell:nth-child(10),
  .cell:nth-child(11),
  .cell:nth-child(12),
  .cell:nth-child(13),
  .cell:nth-child(14),
  .cell:nth-child(15),
  .cell:nth-child(16),
  .cell:nth-child(17),
  .cell:nth-child(18) {
    border-right: none;
  }
}

@media screen and (max-width: 1200px) {
  .preview-list {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}
