:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container-left {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-right: solid 2px var(--main-600);
  padding-right: 16px;
}

.container-right {
  height: 100%;
  width: 22%;
}

.preview-list-large-screen {
  position: sticky;
  height: 90vh;
  top: 180px;
  width: 96%;
  overflow: auto;
}

.preview-list {
  display: none;
}

.summary {
  margin: 40px auto;
  max-height: 310px;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.cell {
  height: 50px;
  width: 33.33%;
  border-bottom: blue solid 1px;
  border-right: blue solid 1px;
}
.cell:nth-child(13),
.cell:nth-child(14),
.cell:nth-child(15),
.cell:nth-child(16),
.cell:nth-child(17),
.cell:nth-child(18) {
  border-right: none;
}

.chart-group {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chart-wrapper {
  width: 48%;
}

@media screen and (max-width: 900px) {
  .chart-group {
    flex-flow: row wrap;
  }
  .chart-wrapper {
    width: 90%;
  }
  .summary {
    max-height: 460px;
  }
  .cell {
    width: 50%;
  }

  .cell:nth-child(10),
  .cell:nth-child(11),
  .cell:nth-child(12),
  .cell:nth-child(13),
  .cell:nth-child(14),
  .cell:nth-child(15),
  .cell:nth-child(16),
  .cell:nth-child(17),
  .cell:nth-child(18) {
    border-right: none;
  }
}

@media screen and (max-width: 1200px) {
  .container-left {
    border-right: none;
    width: 94%;
  }

  .container-right {
    display: none;
  }

  .preview-list {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}
