<main *ngIf="!showSlideOnly">
  <div class="title">Major Indexes</div>
  <app-gradient-break [height]="8" [marginBottom]="28"></app-gradient-break>

  <div class="preview-wrapper">
    <div class="chart-container">
      <div
        class="index-name-wrapper"
        [routerLink]="['/market-index', targetIndexSymbol]"
      >
        <div class="index-name">
          {{ targetIndexName }}
          <img src="../../../assets/images/read_more.svg" class="read-more" />
        </div>
        {{ currentDate }}
      </div>
      <app-index-chart
        [symbol]="targetIndexSymbol"
        [isPreview]="true"
        [chartHeight]="380"
      ></app-index-chart>
    </div>

    <div class="indices-container">
      <app-index-list
        *ngIf="isLargeScreen"
        [indices]="indices"
        class="index-list-container"
      ></app-index-list>
      <app-index-slide
        *ngIf="!isLargeScreen"
        [indices]="indices"
        class="index-slide-container"
      ></app-index-slide>
    </div>
  </div>
</main>

<main *ngIf="showSlideOnly">
  <div class="title" style="font-size: 30px">Major Indexes</div>
  <app-gradient-break [height]="6" [marginBottom]="16"></app-gradient-break>

  <app-index-slide
    [indices]="indices"
    [isPreview]="false"
    [targetIndexSymbol]="targetIndexSymbol"
    class="index-slide-container"
    style="display: block"
  ></app-index-slide>
</main>
