<main>
  <div *ngIf="targetIndex" class="index-wrapper">
    <div class="name-symbol">
      {{ targetIndex.name }} -
      <div class="symbol">{{ targetIndex._symbol }}</div>
    </div>
    <div class="point">
      <app-index-point [isLargeScreen]="isLargeScreen"></app-index-point>
    </div>
  </div>

  <div class="buttons-group">
    <app-custom-button
      *ngFor="let option of dayOptions"
      (onClick)="onSelectTimeRange($event)"
      [callbackArg]="option"
      [text]="option"
      [width]="isLargeScreen ? 44 : 34"
      [height]="isLargeScreen ? 28 : 22"
      [fontSize]="isLargeScreen ? 14 : 12"
      [isActive]="dayOption === option"
    >
    </app-custom-button>
  </div>
  <app-index-chart [symbol]="symbol" [dayOption]="dayOption"></app-index-chart>

  <div class="title" style="font-size: 30px">Summary</div>
  <app-gradient-break [height]="6" [marginBottom]="16"></app-gradient-break>

  <div *ngIf="targetIndex" class="summary-wrapper">
    <div class="summary-row">
      <span class="key">Open</span>
      <span claas="value">{{ toFixedLocale(targetIndex.open) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">Prev Close</span>
      <span claas="value">{{ toFixedLocale(targetIndex.previousClose) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">Day High</span>
      <span claas="value">{{ toFixedLocale(targetIndex.dayHigh) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">Day Low</span>
      <span claas="value">{{ toFixedLocale(targetIndex.dayLow) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">52 Week High</span>
      <span claas="value">{{ toFixedLocale(targetIndex.yearHigh) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">52 Week low</span>
      <span claas="value">{{ toFixedLocale(targetIndex.yearLow) }}</span>
    </div>
    <div class="summary-row">
      <span class="key">Volume</span>
      <span claas="value">{{
        targetIndex.volume <= 0 ? "-" : targetIndex.volume.toLocaleString()
      }}</span>
    </div>
    <div class="summary-row">
      <span class="key">Avg Volume</span>
      <span claas="value">{{
        targetIndex.avgVolume <= 0
          ? "-"
          : targetIndex.avgVolume.toLocaleString()
      }}</span>
    </div>
  </div>

  <app-index-preview
    [showSlideOnly]="true"
    [targetIndexSymbol]="symbol"
  ></app-index-preview>
</main>
