<main>
  <div *ngIf="targetIndex">
    <div>{{ targetIndex.name }}</div>
    <div>{{ targetIndex._symbol }}</div>
    <div>{{ targetIndex.price }}</div>
    <div>{{ targetIndex.change }}</div>
    <div>{{ targetIndex.changesPercentage }}%</div>
  </div>

  <div class="button_group">
    <button (click)="onSelectDayRange('1D')">1D</button>
    <button (click)="onSelectDayRange('5D')">5D</button>
    <button (click)="onSelectDayRange('1M')">1M</button>
    <button (click)="onSelectDayRange('3M')">3M</button>
    <button (click)="onSelectDayRange('6M')">6M</button>
    <button (click)="onSelectDayRange('1Y')">1Y</button>
    <button (click)="onSelectDayRange('5Y')">5Y</button>
  </div>
  <app-index-chart [symbol]="symbol" [dayOption]="dayOption"></app-index-chart>

  <div *ngIf="targetIndex">
    <h3>Summary</h3>
    <div>
      <span>Open</span><span>{{ targetIndex.open }}</span>
    </div>
    <div>
      <span>Prev Close</span><span>{{ targetIndex.previousClose }}</span>
    </div>
    <div>
      <span>Day High</span><span>{{ targetIndex.dayHigh }}</span>
    </div>
    <div>
      <span>Day Low</span><span>{{ targetIndex.dayLow }}</span>
    </div>
    <div>
      <span>52 Week High</span><span>{{ targetIndex.yearHigh }}</span>
    </div>
    <div>
      <span>52 Week low</span><span>{{ targetIndex.yearLow }}</span>
    </div>
    <div>
      <span>Volume</span><span>{{ targetIndex.volume }}</span>
    </div>
    <div>
      <span>Avg Volume</span><span>{{ targetIndex.avgVolume }}</span>
    </div>
  </div>

  <app-index-preview [showSlideOnly]="true"></app-index-preview>
</main>
