:host {
  width: 100%;
}

main {
  max-width: 300px;
}

.list {
  margin-bottom: 34px;
}

.header {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.read-more {
  width: 22px;
}

.header:hover {
  color: var(--main-400);
  transition: all 0.3s;
}

.header-no-pointer {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .list {
    padding: 0 20px;
    border-right: solid 2px var(--main-600);
    margin-bottom: 0;
  }
  .list:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 940px) {
  .header {
    font-size: min(22px, 2.8vw);
  }
}
