<main *ngIf="previewList">
  <div class="list">
    <div class="header" (click)="onSelectOption(ListTypes.actives)">
      Most Searched
      <img src="../../../assets/images/read_more.svg" class="read-more" />
    </div>
    <div *ngFor="let entry of previewList.actives">
      <app-preview-list-small-entry
        [entry]="entry"
      ></app-preview-list-small-entry>
    </div>
  </div>
  <div class="list">
    <div class="header" (click)="onSelectOption(ListTypes.gainers)">
      Top Performing
      <img src="../../../assets/images/read_more.svg" class="read-more" />
    </div>
    <div *ngFor="let entry of previewList.gainers">
      <app-preview-list-small-entry
        [entry]="entry"
      ></app-preview-list-small-entry>
    </div>
  </div>
  <div class="list">
    <div class="header" (click)="onSelectOption(ListTypes.losers)">
      Worst Performing
      <img src="../../../assets/images/read_more.svg" class="read-more" />
    </div>
    <div *ngFor="let entry of previewList.losers">
      <app-preview-list-small-entry
        [entry]="entry"
      ></app-preview-list-small-entry>
    </div>
  </div>
</main>

<main *ngIf="symbol && peerList">
  <div class="list">
    <div class="header-no-pointer">People Also Watch</div>
    <div *ngFor="let entry of peerList">
      <app-preview-list-small-entry
        [entry]="entry"
      ></app-preview-list-small-entry>
    </div>
  </div>
</main>
