main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.break-wrapper {
  width: 90%;
  max-width: 800px;
}
.form-wrapper {
  animation: fadeIn 1s;
}
.button-wrapper {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.session {
  width: 90%;
  margin-top: 20px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.invalid-token {
  width: 90%;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
