<main>
  <div class="title">Portfolio</div>
  <app-gradient-break
    [type]="2"
    [height]="8"
    [marginBottom]="20"
  ></app-gradient-break>

  <div class="detail-wrapper">
    <div class="content-wrapper">
      <div class="column-grid" *ngIf="account">
        <div>Fund in Account</div>
        <div class="number">{{ toFixedLocale(account.fund) }}</div>
        <div>Short Selling Deposit</div>
        <div class="number border-bot">
          <span *ngIf="account.shortSellingDeposit > 0">-</span
          >{{ toFixedLocale(account.shortSellingDeposit) }}
        </div>
        <div>Available Fund</div>
        <div class="number">
          ${{
            toFixedLocale(
              account.fund - account.shortSellingDeposit,
              false,
              false,
              true
            )
          }}
        </div>
      </div>
      <app-loading-spinner *ngIf="!account"></app-loading-spinner>
    </div>
    <div class="content-wrapper">
      <div class="column-grid" *ngIf="account">
        <div>
          Realized
          {{ account.totalRealizedGainLoss >= 0 ? "Gain" : "Loss" }}
        </div>
        <div
          class="number"
          [ngClass]="{
            positive: account.totalRealizedGainLoss > 0,
            '': account.totalRealizedGainLoss === 0,
            negative: account.totalRealizedGainLoss < 0
          }"
        >
          {{ toFixedLocale(account.totalRealizedGainLoss, true) }}
        </div>
        <div>
          Realized Short Selling
          {{
            account.totalRealizedGainLoss_shortSelling >= 0 ? "Gain" : "Loss"
          }}
        </div>
        <div
          class="number border-bot"
          [ngClass]="{
            positive: account.totalRealizedGainLoss_shortSelling > 0,
            '': account.totalRealizedGainLoss_shortSelling === 0,
            negative: account.totalRealizedGainLoss_shortSelling < 0
          }"
        >
          {{ toFixedLocale(account.totalRealizedGainLoss_shortSelling, true) }}
        </div>
        <div>
          Total Realized
          {{
            account.totalRealizedGainLoss +
              account.totalRealizedGainLoss_shortSelling >=
            0
              ? "Gain"
              : "Loss"
          }}
        </div>
        <div
          class="number"
          [ngClass]="{
            positive:
              account.totalRealizedGainLoss +
                account.totalRealizedGainLoss_shortSelling >
              0,
            '':
              account.totalRealizedGainLoss +
                account.totalRealizedGainLoss_shortSelling ===
              0,
            negative:
              account.totalRealizedGainLoss +
                account.totalRealizedGainLoss_shortSelling <
              0
          }"
        >
          {{
            toFixedLocale(
              account.totalRealizedGainLoss +
                account.totalRealizedGainLoss_shortSelling,
              true,
              false,
              true
            )
          }}
        </div>
      </div>
      <app-loading-spinner *ngIf="!account"></app-loading-spinner>
    </div>
    <div class="content-wrapper" #scrollRef>
      <div class="column-grid" *ngIf="account">
        <div>
          Unrealized
          {{ account.totalUnrealizedGainLoss >= 0 ? "Gain" : "Loss" }}
        </div>
        <div
          class="number"
          [ngClass]="{
            positive: account.totalUnrealizedGainLoss > 0,
            '': account.totalUnrealizedGainLoss === 0,
            negative: account.totalUnrealizedGainLoss < 0
          }"
        >
          {{ toFixedLocale(account.totalUnrealizedGainLoss, true) }}
        </div>
        <div>
          Unrealized Short Selling
          {{
            account.totalUnrealizedGainLoss_shortSelling >= 0 ? "Gain" : "Loss"
          }}
        </div>
        <div
          class="number border-bot"
          [ngClass]="{
            positive: account.totalUnrealizedGainLoss_shortSelling > 0,
            '': account.totalUnrealizedGainLoss_shortSelling === 0,
            negative: account.totalUnrealizedGainLoss_shortSelling < 0
          }"
        >
          {{
            toFixedLocale(account.totalUnrealizedGainLoss_shortSelling, true)
          }}
        </div>
        <div>
          Total Unrealized
          {{
            account.totalUnrealizedGainLoss +
              account.totalUnrealizedGainLoss_shortSelling >=
            0
              ? "Gain"
              : "Loss"
          }}
        </div>
        <div
          class="number"
          [ngClass]="{
            positive:
              account.totalUnrealizedGainLoss +
                account.totalUnrealizedGainLoss_shortSelling >
              0,
            '':
              account.totalUnrealizedGainLoss +
                account.totalUnrealizedGainLoss_shortSelling ===
              0,
            negative:
              account.totalUnrealizedGainLoss +
                account.totalUnrealizedGainLoss_shortSelling <
              0
          }"
        >
          {{
            toFixedLocale(
              account.totalUnrealizedGainLoss +
                account.totalUnrealizedGainLoss_shortSelling,
              true,
              false,
              true
            )
          }}
        </div>
      </div>
    </div>
    <app-loading-spinner *ngIf="!account"></app-loading-spinner>
  </div>

  <div class="assets-wrapper">
    <div class="side-menu-wrapper">
      <div class="side-menu">
        <div
          class="menu-item"
          (click)="onSelectMenu(1)"
          [ngClass]="{ active: isOnAssets }"
        >
          <mat-icon class="icon">monetization_on</mat-icon>Assets
        </div>
        <div
          class="menu-item"
          (click)="onSelectMenu(2)"
          [ngClass]="{ active: !isOnAssets }"
        >
          <mat-icon class="icon">format_list_bulleted</mat-icon>Watchlist
        </div>
      </div>
    </div>

    <app-asset-list
      [assets]="assets"
      [symbols]="symbols"
      *ngIf="isOnAssets"
    ></app-asset-list>

    <app-watch-list
      [watchlist]="watchlist"
      *ngIf="!isOnAssets"
    ></app-watch-list>
  </div>
</main>
