<main>
  <div class="search-wrapper">
    <select
      #option
      (change)="onSelectExchange(option.value)"
      (click)="clearResult()"
    >
      <option value="NASDAQ">NASDAQ</option>
      <option value="NYSE">NYSE</option>
    </select>

    <input
      (keyup)="onInputChange($event)"
      [value]="inputValue"
      placeholder="Symbol or Name..."
    />
    <mat-icon class="search" (click)="onSearchStockByName()"> search </mat-icon>

    <div class="result-anchor">
      <div
        class="result-list"
        *ngIf="searchResult.length > 0"
        id="custom-scroll-y-thin"
      >
        <div
          class="result"
          *ngFor="let stock of searchResult"
          (click)="clearResult()"
          [routerLink]="['stock', 'financial-summary', stock.symbol]"
        >
          <img
            class="logo"
            [src]="LOGO_URL + stock.symbol + '.png'"
            alt="Logo"
          />
          <div class="symbol-name">
            <div class="symbol">{{ stock.symbol }}</div>
            <div>{{ stock.name }}</div>
          </div>
        </div>
      </div>
      <div
        class="result-list"
        *ngIf="searchResult.length === 0 && inputValue !== ''"
      >
        No result
      </div>
    </div>
  </div>
  <div class="backdrop" *ngIf="inputValue !== ''" (click)="clearResult()"></div>
</main>
