<main>
  <div class="search-wrapper">
    <input
      (keyup)="onInputChange($event)"
      [value]="inputValue"
      placeholder="Symbol or Name..."
    />
    <div class="search">
      <div class="loading" *ngIf="loading">
        <app-loading-spinner [size]="'sm'"></app-loading-spinner>
      </div>
      <mat-icon *ngIf="!loading" (click)="onSearchStockByName()">
        search
      </mat-icon>
    </div>

    <div class="result-anchor">
      <div
        class="result-list"
        *ngIf="searchResult.length > 0"
        id="custom-scroll-y-thin"
      >
        <div
          class="result"
          *ngFor="let stock of searchResult"
          (click)="clearResult()"
          [routerLink]="['stock', 'financial-summary', stock.symbol]"
        >
          <img
            class="logo"
            [src]="LOGO_URL + stock.symbol + '.png'"
            alt="Logo"
          />
          <div class="symbol-name">
            <div class="symbol">{{ stock.symbol }}</div>
            <div>{{ stock.name }}</div>
          </div>
        </div>
      </div>
      <div
        class="result-list"
        *ngIf="searchResult.length === 0 && inputValue !== ''"
      >
        <div class="no-result">
          Could not find any result associated with: "{{ inputValue }}"
        </div>
      </div>
    </div>
  </div>
  <div
    class="backdrop"
    *ngIf="inputValue !== '' || searchResult.length > 0"
    (click)="clearResult()"
  ></div>
</main>
