<main>
  <div>{{ timeRange }}</div>
  <div *ngIf="loading" class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <apx-chart
    *ngIf="chartOptions && !loading"
    #area_chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [colors]="chartOptions.colors!"
    [yaxis]="chartOptions.yaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [markers]="chartOptions.markers!"
    [stroke]="chartOptions.stroke!"
    [xaxis]="chartOptions.xaxis!"
    [tooltip]="chartOptions.tooltip!"
  ></apx-chart>
  <img
    *ngIf="loading"
    class="chart-placeholder"
    src="../../../assets/images/chart-loading.png"
  />
</main>
