<main>
  <div class="price-wrapper" *ngIf="profile">
    <div>
      <img [src]="profile.image" class="logo" />
    </div>
    <div>{{ profile.companyName }} ({{ profile.symbol }})</div>
    <div class="digits-wrapper">
      Price:

      <div *ngFor="let digit of price; index as i">
        <app-digit-cylinder
          [currentDigit]="digit"
          [previousDigit]="previousPrice[i]"
        ></app-digit-cylinder>
      </div>
    </div>
    <div class="digits-wrapper">
      Changes:
      <div *ngFor="let digit of changeInPrice; index as i">
        <app-digit-cylinder
          [currentDigit]="digit"
          [previousDigit]="previousChangeInPrice[i]"
          [timeRange]="timeRange | async"
        ></app-digit-cylinder>
      </div>
    </div>

    <div class="digits-wrapper">
      <div *ngFor="let digit of changePercentage; index as i">
        <app-digit-cylinder
          [currentDigit]="digit"
          [previousDigit]="previousChangePercentage[i]"
          [timeRange]="timeRange | async"
        ></app-digit-cylinder>
      </div>
      %
    </div>
  </div>
  <div *ngIf="!profile" class="loading"><h3>Loading</h3></div>
</main>
