:host {
  width: 100%;
}

main {
  position: relative;
  margin-bottom: 18px;
}

.content-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 2px var(--main-600);
}

.logo-wrapper {
  padding-right: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  min-width: 200px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  font-size: 26px;
  font-weight: bold;
}
.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.name-symbol {
  width: 100%;
  height: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 34px;
}

.symbol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  color: var(--color-dark-grey);
}

.row-wrapper {
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.price-wrapper {
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.digits-wrapper {
  display: flex;
  flex-flow: nowrap row;
  margin-right: 10px;
}
.price-wrapper .digits-wrapper:nth-child(2) {
  margin-right: 30px;
}

.mark {
  height: 40px;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.positive {
  color: var(--color-positive-2);
}

.negative {
  color: var(--color-negative-2);
}

.buttons-group {
  display: flex;
  flex-flow: nowrap row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  padding-top: 6px;
}

.star {
  height: auto;
  width: auto;
  overflow: visible;
  cursor: pointer;
  font-size: 46px;
  color: rgb(255, 230, 0);
  text-shadow: 1px 1px 2px var(--color-orange);
}

.loading {
  position: absolute;
  top: -20px;
  left: calc(50% - 40px);
}

@media screen and (max-width: 765px) {
  main {
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  .logo-wrapper {
    font-size: min(24px, 5vw);
    margin-bottom: 6px;
  }
  .row-wrapper {
    flex-flow: row wrap;
    gap: 4px;
    width: 94vw;
  }
  .price-wrapper .digits-wrapper:nth-child(2) {
    margin-right: 10px;
  }
  .name-symbol {
    line-height: 26px;
  }
  .symbol {
    font-size: min(20px, 4vw);
  }
}

@media screen and (max-width: 550px) {
  main {
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  .content-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .row-wrapper {
    justify-content: center;
    align-items: center;
  }
}
