<main>
  <div class="price-wrapper" *ngIf="profile">
    <div>
      <img [src]="profile.image" class="logo" />
    </div>
    <div>{{ profile.companyName }} ({{ profile.symbol }})</div>
    <div class="digits-wrapper">
      Price:

      <div *ngFor="let digit of digitsString">
        <app-digit-cylinder [currentDigit]="digit"></app-digit-cylinder>
      </div>
    </div>
    <div>Changes: {{ changeInPrice }}</div>
    <div *ngIf="changePercentage">{{ changePercentage }}%</div>
  </div>
  <div *ngIf="!profile" class="loading"><h3>Loading</h3></div>
</main>
