<main>
  <h2 *ngIf="!chartCandleOptions">Loading...............</h2>
  <div class="chart-box" *ngIf="chartCandleOptions">
    <div id="chart-candlestick">
      <apx-chart
        #chartCandle
        [series]="chartCandleOptions.series!"
        [chart]="chartCandleOptions.chart!"
        [xaxis]="chartCandleOptions.xaxis!"
        [yaxis]="chartCandleOptions.yaxis!"
        [tooltip]="chartCandleOptions.tooltip!"
        [stroke]="chartCandleOptions.stroke!"
        [plotOptions]="chartCandleOptions.plotOptions!"
        [legend]="chartCandleOptions.legend!"
        [autoUpdateSeries]="true"
      ></apx-chart>
    </div>
  </div>
</main>
