<main>
  <h2 *ngIf="!chartCandleOptions || !chartBarOptions">
    Loading...............
  </h2>
  <div class="chart-box" *ngIf="chartCandleOptions">
    <div class="button_group">
      <button (click)="onSelectDayRange('1D')">1D (Real Time)</button>
      <button (click)="onSelectDayRange('5D')">5D</button>
      <button (click)="onSelectDayRange('1M')">1M</button>
      <button (click)="onSelectDayRange('3M')">3M</button>
      <button (click)="onSelectDayRange('6M')">6M</button>
      <button (click)="onSelectDayRange('1Y')">1Y</button>
    </div>
    <div id="chart-candlestick">
      <apx-chart
        #chartCandle
        [series]="chartCandleOptions.series!"
        [chart]="chartCandleOptions.chart!"
        [xaxis]="chartCandleOptions.xaxis!"
        [yaxis]="chartCandleOptions.yaxis!"
        [tooltip]="chartCandleOptions.tooltip!"
        [stroke]="chartCandleOptions.stroke!"
        [plotOptions]="chartCandleOptions.plotOptions!"
        [legend]="chartCandleOptions.legend!"
        [autoUpdateSeries]="true"
      ></apx-chart>
    </div>
  </div>
  <button (click)="addNewBar()">add new bar</button>
</main>
