main {
  width: 100vw;
}

.chart-box {
  max-width: 100vw;
}
#chart-candlestick,
#chart-bar {
  min-width: 90%;
  max-width: 90%;
  margin: 35px auto;
}

#chart-bar {
  margin-top: -30px;
}

.button_groups {
  display: flex;
  flex-flow: row nowrap;
  float: right;
}
