main {
  width: 100%;
}

.chart-box {
  height: auto;
  max-width: 98%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px blue;
}
#chart-candlestick {
  min-width: 96%;
  max-width: 96%;
  margin: 35px 0 4px 0;
}

.button_groups {
  display: flex;
  flex-flow: row nowrap;
  float: right;
}
