<main>
  <div class="date">{{ today }}</div>
  <div class="chart-box">
    <div id="chart-candlestick" *ngIf="chartCandleOptions">
      <apx-chart
        #chartCandle
        [series]="chartCandleOptions.series!"
        [chart]="chartCandleOptions.chart!"
        [xaxis]="chartCandleOptions.xaxis!"
        [yaxis]="chartCandleOptions.yaxis!"
        [tooltip]="chartCandleOptions.tooltip!"
        [stroke]="chartCandleOptions.stroke!"
        [plotOptions]="chartCandleOptions.plotOptions!"
        [legend]="chartCandleOptions!.legend!"
        [autoUpdateSeries]="true"
      ></apx-chart>
    </div>
  </div>

  <div *ngIf="loading" class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</main>
