main {
  position: relative;
}

.chart-box {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px var(--main-200);
}
#chart-candlestick {
  min-width: 96%;
  max-width: 96%;
  margin: 35px 0 4px 0;
}

.button_groups {
  display: flex;
  flex-flow: row nowrap;
  float: right;
}

.date {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.loading {
  position: absolute;
  top: 100px;
  left: calc(50% - 40px);
}

.real-time-tag {
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: var(--color-positive-2);
  color: var(--main-100);
  font-size: 14px;
}
