main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.user-info {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--color-dark-grey);
  gap: 30px;
  margin-bottom: 30px;
}
.break-wrapper {
  width: 90%;
  max-width: 800px;
}

.info-row {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-dark-grey);
  line-height: 30px;
}
.info-row div:first-child {
  width: 25%;
  min-width: 95px;
  max-width: 200px;
  font-size: 24px;
}
.info-row div:last-child {
  width: auto;
  word-wrap: break-word;
  max-width: 400px;
  font-size: 30px;
  color: black;
}

.subtitle {
  width: 400px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}
.button-wrapper {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.success-message {
  font-size: 20px;
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  .background {
    max-width: 94%;
  }
  .subtitle {
    max-width: 94%;
  }
  .button-wrapper {
    max-width: 90%;
  }
}
