:host {
  width: 100%;
  margin-top: 10px;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title {
  width: 100%;
  text-align: left;
}

.preview-list {
  display: none;
}

.menu-wrapper {
  margin: 20px auto;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--main-200);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu {
  height: 64%;
  padding: 0 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all;
}
.menu:hover {
  color: var(--main-400);
  transition: 0.3s all;
}
.active {
  background-color: var(--main-600);
}

@media screen and (max-width: 1200px) {
  .preview-list {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}

@media screen and (max-width: 765px) {
  .menu-wrapper {
    height: 40px;
    font-size: min(16px, 3vw);
  }
}
