<main>
  <div class="charts-wrapper">
    <app-overall-chart></app-overall-chart>
    <app-column-chart></app-column-chart>
  </div>

  <div class="tables-wrapper">
    <div class="table">
      <div class="table-title">Positions</div>
      <app-asset-table [asset]="asset"></app-asset-table>
    </div>

    <div class="table" id="custom-scroll-x-thin">
      <app-transactions
        [transactions]="transactions"
        (selectedTpye)="changeTransactionType($event)"
      ></app-transactions>
    </div>
  </div>
</main>
