<main>
  <div class="title">Portfolio</div>
  <app-gradient-break [height]="8" [marginBottom]="16"></app-gradient-break>

  <div class="content-wrapper">
    <div class="content">
      <div
        class="no-auth"
        *ngIf="
          (loadingStatus$ | async) !== LoadingStatus.loading_auth && !hasAuth
        "
      >
        <div class="sign-in">
          <app-custom-button
            text="Sign In"
            [height]="28"
            [width]="80"
            [fontSize]="16"
            (click)="openSignInModal()"
          ></app-custom-button>
          to manage your portfolio
        </div>

        <div class="sign-up">
          New user?
          <app-custom-button
            [routerLink]="['/user/sign-up']"
            text="Create An Account"
            [height]="28"
            [width]="180"
            [fontSize]="16"
          ></app-custom-button>
          and start investing!
        </div>
      </div>

      <div
        class="preview"
        *ngIf="
          (loadingStatus$ | async) !== LoadingStatus.loading_auth && hasAuth
        "
      >
        <div *ngIf="portfolio">
          <div>Available fund {{ portfolio.account.fund }}</div>
          <div>
            unrealized gain/loss {{ portfolio.account.totalUnrealizedGainLoss }}
          </div>
          <div>
            unrealized gain/loss short selling
            {{ portfolio.account.totalUnrealizedGainLoss_shortSelling }}
          </div>
          <div>
            realized gain/loss {{ portfolio.account.totalRealizedGainLoss }}
          </div>
          <div>
            realized gain/loss _shortSelling
            {{ portfolio.account.totalRealizedGainLoss_shortSelling }}
          </div>
        </div>
        <app-custom-button
          [routerLink]="['/user/portfolio']"
          text="Detail"
          [height]="28"
          [width]="80"
          [fontSize]="16"
        ></app-custom-button>
      </div>
      <app-loading-spinner *ngIf="!portfolio"></app-loading-spinner>

      <app-loading-spinner
        *ngIf="(loadingStatus$ | async) === LoadingStatus.loading_auth"
      ></app-loading-spinner>
    </div>
  </div>
</main>
