<main>
  <div class="title">Portfolio</div>
  <app-gradient-break [height]="8" [marginBottom]="16"></app-gradient-break>

  <div class="content-wrapper">
    <div class="content">
      <div
        class="no-auth"
        *ngIf="
          (loadingStatus$ | async) !== LoadingStatus.loading_auth &&
          !(hasAuth$ | async)
        "
      >
        <div class="sign-in">
          <app-custom-button
            text="Sign In"
            [height]="28"
            [width]="80"
            [fontSize]="16"
            (click)="openSignInModal()"
          ></app-custom-button>
          to manage your portfolio
        </div>

        <div class="sign-up">
          New user?
          <app-custom-button
            [routerLink]="['/user/sign-up']"
            text="Create An Account"
            [height]="28"
            [width]="180"
            [fontSize]="16"
          ></app-custom-button>
          and start investing!
        </div>
      </div>

      <div
        class="preview"
        *ngIf="
          (loadingStatus$ | async) !== LoadingStatus.loading_auth &&
          (hasAuth$ | async)
        "
      >
        <div *ngIf="portfolio" class="preview-content">
          <div class="row-wrapper">
            <div>
              Available Fund
              <span class="number"
                >${{ toFixedLocale(portfolio.account.fund) }}</span
              >
            </div>
            <app-custom-button
              [routerLink]="['/user/portfolio']"
              text="Detail"
              [height]="28"
              [width]="80"
              [fontSize]="16"
            ></app-custom-button>
          </div>
          <div class="row-wrapper">
            <div>
              Overall <strong>Realized </strong>
              <span [ngClass]="isPositiveRealized ? 'positive' : 'negative'"
                >{{ isPositiveRealized ? "Gain " : "Loss " }}
                <span class="number"
                  >{{ isPositiveRealized ? "+" : "-" }}${{
                    toFixedLocale(realized)
                  }}</span
                ></span
              >
            </div>
            <div>
              Overall <strong>Unrealized </strong>
              <span [ngClass]="isPositiveUnrealized ? 'positive' : 'negative'"
                >{{ isPositiveUnrealized ? "Gain " : "Loss " }}
                <span class="number"
                  >{{ isPositiveUnrealized ? "+" : "-" }}${{
                    toFixedLocale(unrealized)
                  }}</span
                ></span
              >
            </div>
          </div>
        </div>
      </div>
      <app-loading-spinner *ngIf="!portfolio"></app-loading-spinner>

      <app-loading-spinner
        *ngIf="(loadingStatus$ | async) === LoadingStatus.loading_auth"
      ></app-loading-spinner>
    </div>
  </div>
</main>
