<div class="list-wrapper">
  <div class="list" *ngIf="assets && symbols.length > 0">
    <div class="search-page">
      <input
        (keyup)="onInputChange($event)"
        placeholder="Find by Symbol..."
        class="input-field"
        #scrollRef
      />
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="totalCount"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        [disabled]="false"
        aria-label="Select page"
        *ngIf="totalCount > 10"
      >
      </mat-paginator>
    </div>

    <div
      class="asset"
      id="custom-scroll-x-thin"
      *ngFor="let symbol of selected"
      [routerLink]="['/stock', 'asset-detail', symbol]"
    >
      <div class="asset-symbol-price">
        <img class="logo" [src]="LOGO_URL + symbol + '.png'" alt="Logo" />
        <div class="symbol">
          {{ assets[symbol].symbol }} :
          <span class="exchange">{{ assets[symbol].exchange }}</span>
        </div>
        <div class="price">${{ assets[symbol].currentPrice }}</div>
      </div>

      <app-asset-table [asset]="assets[symbol]"></app-asset-table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalCount"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      [pageIndex]="pageIndex"
      [disabled]="false"
      aria-label="Select page"
      *ngIf="totalCount > 10"
    >
    </mat-paginator>
  </div>

  <div
    class="no-result"
    *ngIf="
      selected.length === 0 &&
      !loading &&
      (loadingStore$ | async) !== LoadingStatus.loading_portfolio
    "
  >
    You do not have any asset {{ filter === "" ? "..." : "with a symbol: "
    }}{{ filter }}
  </div>
  <div class="loading" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
