.list-wrapper {
  min-width: 400px;
  min-height: 130px;
  padding-left: 30px;
  border-left: 2px solid var(--main-600);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.loading {
  width: 100%;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  border-radius: 4px;
  border: 2px solid var(--main-600);
  height: 30px;
  font-size: 16px;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.asset {
  width: calc(100% - 22px);
  border-radius: 6px;
  border: solid 2px var(--main-600);
  padding: 12px 10px;
  cursor: pointer;
  animation: fadeIn 1s;
  transition: 0.3s all;
}
.asset:hover {
  box-shadow: 0 0 10px 6px var(--main-500);
  transition: 0.3s all;
}

.asset-symbol-price {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.symbol {
  font-size: 22px;
  font-weight: bold;
}
.exchange {
  color: var(--color-dark-grey);
}
.price {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-700);
}

/* .detail-table {
  width: 100%;
  text-align: center;
  background-color: var(--color-light-grey);
}
.detail-table thead th {
  padding: 4px 6px;
}

.detail-table tbody td {
  padding: 10px 6px;
  background-color: white;
} */

.positive {
  color: var(--color-positive-2);
}
.negative {
  color: var(--color-negative-2);
}

.no-result {
  width: calc(100% - 22px);
  padding: 20px 10px;
  font-size: 20px;
  border-radius: 6px;
  border: solid 2px var(--main-600);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  :host {
    width: 98%;
  }
  .list-wrapper {
    min-width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    border-left: none;
    border-top: 2px solid var(--main-600);
  }
}

@media screen and (max-width: 765px) {
  .search-page {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .asset-symbol-price {
    gap: 10px;
  }

  .symbol {
    font-size: min(16px, 4.5vw);
  }

  .asset {
    overflow-x: auto;
  }

  .price {
    font-size: min(18px, 5vw);
  }
  .no-result {
    font-size: 16px;
  }
  /* .detail-table {
    font-size: min(12px, 3vw);
  } */
}
