<div class="list-wrapper">
  <div class="list" *ngIf="assets && symbols.length > 0">
    <div class="search-page">
      <input
        (keyup)="onInputChange($event)"
        placeholder="Find by Symbol..."
        class="input-field"
        #scrollRef
      />
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="totalCount"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        [disabled]="false"
        aria-label="Select page"
        *ngIf="totalCount > 10"
      >
      </mat-paginator>
    </div>

    <div
      class="asset"
      id="custom-scroll-x-thin"
      *ngFor="let symbol of selected"
      [routerLink]="['/stock', 'asset-detail', symbol]"
    >
      <div class="asset-symbol-price">
        <img class="logo" [src]="LOGO_URL + symbol + '.png'" alt="Logo" />
        <div class="symbol">
          {{ assets[symbol].symbol }} :
          <span class="exchange">{{ assets[symbol].exchange }}</span>
        </div>
        <div class="price">${{ assets[symbol].currentPrice }}</div>
      </div>

      <table class="detail-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Quantity</th>
            <th>Avg Price</th>
            <th>Basis</th>
            <th>Market Value</th>
            <th>Unrealized G/L</th>
            <th>Realized G/L</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Holding</td>
            <td>{{ toFixed(assets[symbol].shares, 0) }}</td>
            <td>
              {{
                toFixed(assets[symbol].shares > 0 ? assets[symbol].avgCost : 0)
              }}
            </td>
            <td>
              {{ toFixed(assets[symbol].shares * assets[symbol].avgCost) }}
            </td>
            <td>
              {{ toFixed(assets[symbol].shares * assets[symbol].currentPrice) }}
            </td>
            <td
              [ngClass]="{
                positive: assets[symbol].unrealizedGainLoss > 0,
                '': assets[symbol].unrealizedGainLoss === 0,
                negative: assets[symbol].unrealizedGainLoss < 0
              }"
            >
              <span *ngIf="assets[symbol].unrealizedGainLoss > 0">+</span>
              <span *ngIf="assets[symbol].unrealizedGainLoss < 0">-</span
              >{{ toFixed(assets[symbol].unrealizedGainLoss) }}
            </td>
            <td
              [ngClass]="{
                positive: assets[symbol].realizedGainLoss > 0,
                '': assets[symbol].realizedGainLoss === 0,
                negative: assets[symbol].realizedGainLoss < 0
              }"
            >
              <span *ngIf="assets[symbol].realizedGainLoss > 0">+</span>
              <span *ngIf="assets[symbol].realizedGainLoss < 0">-</span
              >{{ toFixed(assets[symbol].realizedGainLoss) }}
            </td>
          </tr>

          <tr>
            <td>Short Selling</td>
            <td>{{ toFixed(assets[symbol].sharesBorrowed, 0) }}</td>
            <td>
              {{
                toFixed(
                  assets[symbol].sharesBorrowed > 0
                    ? assets[symbol].avgBorrowed
                    : 0
                )
              }}
            </td>
            <td>
              {{
                toFixed(
                  assets[symbol].sharesBorrowed * assets[symbol].avgBorrowed
                )
              }}
            </td>
            <td>
              {{
                toFixed(
                  assets[symbol].sharesBorrowed * assets[symbol].currentPrice
                )
              }}
            </td>
            <td
              [ngClass]="{
                positive: assets[symbol].unrealizedGainLossBorrowed > 0,
                '': assets[symbol].unrealizedGainLossBorrowed === 0,
                negative: assets[symbol].unrealizedGainLossBorrowed < 0
              }"
            >
              <span *ngIf="assets[symbol].unrealizedGainLossBorrowed > 0"
                >+</span
              >
              <span *ngIf="assets[symbol].unrealizedGainLossBorrowed < 0"
                >-</span
              >{{ toFixed(assets[symbol].unrealizedGainLossBorrowed) }}
            </td>
            <td
              [ngClass]="{
                positive: assets[symbol].realizedGainLossShortSelling > 0,
                '': assets[symbol].realizedGainLossShortSelling === 0,
                negative: assets[symbol].realizedGainLossShortSelling < 0
              }"
            >
              <span *ngIf="assets[symbol].realizedGainLossShortSelling > 0"
                >+</span
              >
              <span *ngIf="assets[symbol].realizedGainLossShortSelling < 0"
                >-</span
              >{{ toFixed(assets[symbol].realizedGainLossShortSelling) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalCount"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      [pageIndex]="pageIndex"
      [disabled]="false"
      aria-label="Select page"
      *ngIf="totalCount > 10"
    >
    </mat-paginator>
  </div>

  <div class="no-result" *ngIf="selected.length === 0 && !loading">
    You do not have any asset {{ filter === "" ? "..." : "with a symbol: "
    }}{{ filter }}
  </div>
  <div class="loading" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
