<main>
  <div [ngClass]="isPreview ? 'chart-container-preview' : 'chart-container'">
    <div *ngIf="loading" class="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <img
      *ngIf="usePlaceHolder"
      [ngClass]="isPreview ? 'chart-placeholder-preview' : 'chart-placeholder'"
      src="../../../assets/images/chart-loading.png"
    />
    <apx-chart
      *ngIf="chartOptions && !usePlaceHolder"
      #index_chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [colors]="chartOptions.colors!"
      [yaxis]="chartOptions.yaxis!"
      [dataLabels]="chartOptions.dataLabels!"
      [markers]="chartOptions.markers!"
      [stroke]="chartOptions.stroke!"
      [xaxis]="chartOptions.xaxis!"
      [tooltip]="chartOptions.tooltip!"
    ></apx-chart>
  </div>
</main>
