:host {
  width: 100%;
}

main {
  display: flex;
  flex-flow: column nowrap;
}

.button_groups {
  display: flex;
  flex-flow: row nowrap;
  float: right;
}

.chart-container {
  height: 570px;
}
.chart-container-preview {
  height: 380px;
}

.chart-placeholder {
  height: 550px;
  width: 100%;
  object-fit: cover;
}
.chart-placeholder-preview {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.loading {
  width: 0;
  height: 0;
  position: relative;
  top: 30%;
  left: 45%;
}
