<main>
  <div class="logo-wrapper" [routerLink]="'/'" (click)="clearStock()">
    <img class="logo" alt="logo" src="../../../assets/images/logo.png" />

    <div class="name-wrapper">
      <div class="name">Trading Simulator</div>
      <div class="border-wrapper">
        <div class="border-left-wrapper"><div class="border-left"></div></div>
        <div class="border-right-wrapper"><div class="border-right"></div></div>
      </div>
    </div>
  </div>
  <app-search></app-search>
  <div class="button-wrapper">
    <app-custom-button
      *ngIf="
        !(hasAuth$ | async) &&
        (loadingStatus$ | async) !== LoadingStatus.loading_auth
      "
      [width]="isSmallScreen ? 60 : 100"
      [height]="isSmallScreen ? 28 : 32"
      text="Sign In"
      [fontSize]="isSmallScreen ? 12 : 18"
      [bold]="true"
      style="margin-top: 4px"
      class="fade-in"
      (click)="openModal()"
    ></app-custom-button>

    <app-account-menu
      class="fade-in"
      *ngIf="hasAuth$ | async"
    ></app-account-menu>
  </div>
</main>
