<div id="overall-chart">
  <apx-chart
    *ngIf="chartOptions && !loading"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [dataLabels]="chartOptions.dataLabels"
    [fill]="chartOptions.fill"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    #overall_chart
  ></apx-chart>

  <div *ngIf="loading" class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <img
    *ngIf="loading"
    class="chart-placeholder"
    src="../../../assets/images/chart-loading.png"
  />
</div>
