<main>
  <app-header></app-header>

  <div><h1>App Component</h1></div>

  <router-outlet></router-outlet>
</main>

<!-- 

<app-digit-cylinder [digit]="+digit"></app-digit-cylinder>
  <div>
    <button onclick="increase()">+</button>

    <form #formRef="ngForm" (ngSubmit)="changeDigit()">
      <input
        type="number"
        id="num"
        value="0"
        min="0"
        max="9"
        name="digit"
        ngModel
      />
      <button type="submit">change</button>
    </form>
  </div>

 -->
