:host {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main {
  width: 94%;
  height: 100%;
  /* Have to set the padding right to offset the width of the scroll bar */
  padding-right: 10px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 2px solid var(--main-600);
}
.main-content {
  margin-top: 110px;
  height: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 765px) {
  main {
    width: 96%;
  }
  .main-content {
    margin-top: 110px;
  }
}
