:host {
  width: 100%;
  margin-top: 24px;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title {
  width: 100%;
  text-align: left;
}

.preview-list {
  display: none;
}

.profile {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  gap: 30px;
  margin: 30px 0;
}

.row-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.column-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.column-wrapper span {
  font-weight: bold;
}

.description {
  line-height: 30px;
}

@media screen and (max-width: 1200px) {
  .preview-list {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}
