<main>
  <div class="title">About</div>
  <app-gradient-break
    [width]="'100%'"
    [height]="8"
    [marginBottom]="14"
  ></app-gradient-break>
  <div class="profile">
    <div class="row-wrapper">
      <div class="column-wrapper">
        <span>CEO</span> {{ (profile | async)?.ceo }}
      </div>
      <div class="column-wrapper">
        <span>Sector</span> {{ (profile | async)?.sector }}
      </div>
      <div class="column-wrapper">
        <span>Industry</span> {{ (profile | async)?.industry }}
      </div>
      <div class="column-wrapper">
        <span>Website</span> {{ (profile | async)?.website }}
      </div>
      <div class="column-wrapper">
        <span>Exchange</span> {{ (profile | async)?.exchange }}
      </div>
    </div>
    <div class="column-wrapper description">
      <span>Description</span> {{ (profile | async)?.description }}
    </div>
  </div>

  <div class="preview-list" *ngIf="isLargeScreen === false">
    <app-preview-list-small [symbol]="symbol"></app-preview-list-small>
  </div>
</main>
