:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 26px;
}

.menu-link {
  padding: 6px 12px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}
.menu-link:hover {
  background-color: aquamarine;
  transition: all 0.5s;
}

.active {
  background-color: aquamarine;
}
