<main>
  <div class="menu-container" #containerRef>
    <div class="menu-wrapper" *ngIf="symbol !== ''" #menuRef>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.asset }"
        *ngIf="hasAuth && hasAsset"
        [routerLink]="['asset-detail', symbol]"
      >
        Asset Detail
      </div>

      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.summary }"
        [routerLink]="['financial-summary', symbol]"
      >
        Financial Summary
      </div>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.statement }"
        [routerLink]="['financial-statements', symbol]"
      >
        Financial Statements
      </div>
      <div
        div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.chart }"
        [routerLink]="['chart', symbol]"
      >
        Charts
      </div>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.profile }"
        [routerLink]="['company-profile', symbol]"
      >
        Company Profile
      </div>
    </div>
    <div class="menu-wrapper-placeholder" *ngIf="symbol === ''"></div>
    <div class="border-bot"></div>
  </div>
</main>
