<main>
  <div class="menu-container" #containerRef>
    <div class="menu-wrapper" *ngIf="symbol !== ''" #menuRef>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.summary }"
        [routerLink]="['financial-summary', symbol]"
      >
        Financial Summary
      </div>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.statement }"
        [routerLink]="['financial-statements', symbol]"
      >
        Financial Statements
      </div>
      <div
        div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.chart }"
        [routerLink]="['chart', symbol]"
      >
        Charts
      </div>
      <div
        class="menu-link"
        [ngClass]="{ active: activeMenu === StockMenu.profile }"
        [routerLink]="['company-profile', symbol]"
      >
        Company Profile
      </div>
    </div>
    <div class="border-bot"></div>
  </div>

  <app-custom-button
    *ngIf="showButton"
    [ngClass]="isHidden ? 'button-show ' : 'button-show hidden'"
    (onClick)="showMenu()"
    [text]="'Show Menu'"
    [width]="100"
    [height]="30"
  ></app-custom-button>

  <button
    *ngIf="showButton"
    [ngClass]="isHidden ? 'button-hide hidden' : 'button-hide'"
    (click)="hideMenu()"
  >
    Hide Menu
  </button>
</main>
