:host {
  width: 100%;
  margin-bottom: 20px;
}

.menu-container {
  position: relative;
  height: 100px;
  overflow: hidden;
  transition: all 1s;
}

.menu-wrapper {
  /* height: 50px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 1s;
}

.menu-link {
  font-size: 26px;
  height: 40px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}
.menu-link:hover {
  background-color: var(--main-200);
  transition: all 0.5s;
}

.active {
  background: linear-gradient(
    to top,
    var(--main-500) 0%,
    var(--main-200) 35%,
    var(--main-100) 100%
  );
}

.border-bot {
  min-height: 4px;
  width: 100%;
  border-top: solid 4px var(--main-500);
  border-bottom: solid 4px var(--main-500);
  margin-bottom: 20px;
  background-color: var(--main-200);
}

.button-show {
  position: absolute;
  top: 230px;
  right: 10%;
  z-index: 9;
  transition: all 1.5s;
}
.button-hide {
  top: 290px;
  position: absolute;
  opacity: 1;
  background-color: transparent;
  border: 2px solid var(--main-500);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  left: calc(50% - 20px);
  cursor: pointer;
  /* transition: all 1.5s; */
  transition: background-color 0.3s, opacity 1.5s;
}
.button-hide:hover {
  background-color: var(--main-500);
}

.hidden {
  opacity: 0;
  /* visibility: hidden; */
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .menu-link {
    font-size: min(20px, 4vw);
  }
}
