:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 96%;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.table-head {
  min-width: 200px;
  max-width: 280px;
  /* for the sticky position */
  z-index: 2;
  position: sticky;
  left: 0;
  background-color: var(--main-100);
}

thead tr th:nth-child(even) {
  background-color: var(--color-light-grey);
}
tbody tr td:nth-child(even) {
  background-color: var(--color-light-grey);
}

tr {
  height: 40px;
}
th,
td {
  padding: 0 10px;
}
td {
  text-align: center;
}

.table-head:first-child {
  text-align: left;
  border-top-left-radius: 7px;
}

tbody tr:hover td {
  background-color: var(--main-200);
}

.indent {
  padding-left: 30px;
}

@media screen and (max-width: 765px) {
  .table-wrapper {
    font-size: 12px;
  }
  .table-head {
    min-width: 140px;
    max-width: 180px;
  }
  .indent {
    padding-left: 20px;
  }
}
