<main>
  <h3>Income Statement</h3>
  <div>Currency is in USD</div>
  <div class="table-wrapper">
    <table *ngIf="incomeStatements.length > 0">
      <thead>
        <tr>
          <th class="table-head">Year</th>
          <th *ngFor="let elem of incomeStatements">{{ elem.calendarYear }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-head">Revenue</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.revenue }}</td>
        </tr>
        <tr>
          <th class="table-head">Cost of Revenue</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.costOfRevenue }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Gross Profit</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.grossProfit }}</td>
        </tr>
        <tr>
          <th class="table-head">Operating Expenses</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.operatingExpenses }}
          </td>
        </tr>
        <tr>
          <th class="table-head">
            Selling, General and Administrative Expenses
          </th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.sellingGeneralAndAdministrativeExpenses }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Research and Development Expenses</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.researchAndDevelopmentExpenses }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Other Expenses</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.otherExpenses }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Cost and Expenses</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.costAndExpenses }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Operating Income</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.operatingIncome }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Interest Expense</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.interestExpense }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Income Tax Expense</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.incomeTaxExpense }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Earnings before Tax</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.incomeBeforeTax }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Net Income</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.netIncome }}</td>
        </tr>
        <tr>
          <th class="table-head">Earnings Per Share Basic</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.eps }}</td>
        </tr>
        <tr>
          <th class="table-head">Earnings Per Share Diluted</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.epsdiluted }}</td>
        </tr>
        <tr>
          <th class="table-head">Weighted Average Shares Outstanding</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.weightedAverageShsOut }}
          </td>
        </tr>
        <tr>
          <th class="table-head">
            Weighted Average Shares Outstanding (Diluted)
          </th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.weightedAverageShsOutDil }}
          </td>
        </tr>
        <tr>
          <th class="table-head">Gross Margin</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.grossProfitRatio }}
          </td>
        </tr>
        <tr>
          <th class="table-head">EBIT Margin</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.ebitdaratio }}</td>
        </tr>
        <tr>
          <th class="table-head">Profit Margin</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.netIncomeRatio }}
          </td>
        </tr>
        <tr>
          <th class="table-head">EBITDA</th>
          <td *ngFor="let elem of incomeStatements">{{ elem.ebitda }}</td>
        </tr>
        <tr>
          <th class="table-head">Earnings Before Tax Margin</th>
          <td *ngFor="let elem of incomeStatements">
            {{ elem.incomeBeforeTaxRatio }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
