<main *ngIf="list">
  <table>
    <thead>
      <tr>
        <th></th>
        <th (click)="onSort(SortBy.symbol)">
          <div class="header">Symbol <mat-icon>sort</mat-icon></div>
        </th>
        <th (click)="onSort(SortBy.name)">
          <div class="header">Name <mat-icon>sort</mat-icon></div>
        </th>
        <th (click)="onSort(SortBy.price)">
          <div class="header">Price <mat-icon>sort</mat-icon></div>
        </th>
        <th (click)="onSort(SortBy.changeInPrice)">
          <div class="header">Change <mat-icon>sort</mat-icon></div>
        </th>
        <th (click)="onSort(SortBy.changePercentage)">
          <div class="header">Change(%) <mat-icon>sort</mat-icon></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let entry of list"
        [routerLink]="['/stock', 'financial-summary', entry.symbol]"
      >
        <td>
          <div class="logo-box">
            <img
              class="logo"
              [src]="LOGO_URL + entry.symbol + '.png'"
              alt="Logo"
            />
          </div>
        </td>
        <td>{{ entry.symbol }}</td>
        <td>{{ entry.name }}</td>
        <td>${{ toFixedLocale(entry.price) }}</td>
        <td
          [ngClass]="{ positive: entry.change > 0, negative: entry.change < 0 }"
        >
          {{ toFixedLocale(entry.change) }}
        </td>
        <td
          [ngClass]="{ positive: entry.change > 0, negative: entry.change < 0 }"
        >
          {{ toFixedLocale(entry.changesPercentage) }}%
        </td>
      </tr>
    </tbody>
  </table>
</main>
