<main>
  <div class="buttons-group">
    <app-custom-button
      *ngFor="let option of dayOptions"
      (onClick)="onSelectTimeRange($event)"
      [callbackArg]="option"
      [text]="option"
      [width]="isLargeScreen ? 44 : 34"
      [height]="isLargeScreen ? 28 : 22"
      [fontSize]="isLargeScreen ? 14 : 12"
      [isActive]="dayOption === option"
    >
    </app-custom-button>
  </div>

  <app-real-time-chart
    *ngIf="dayOption === '1D'"
    [symbol]="symbol"
  ></app-real-time-chart>
  <app-historical-chart
    *ngIf="dayOption !== '1D'"
    [option]="dayOption"
    [symbol]="symbol"
  ></app-historical-chart>
</main>
