:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.button_groups {
  display: flex;
  flex-flow: row nowrap;
  float: right;
}
