<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <div class="form-group input-wrapper">
      <input
        type="email"
        id="email"
        class="input-box"
        formControlName="email"
        placeholder=" "
        (change)="onChange('email')"
        (input)="onInput('email')"
      />
      <span>Email</span>
    </div>
    <div class="error-message">
      <span *ngIf="inputTouched[InputFieldNames.email]">{{
        inputError[InputFieldNames.email]
      }}</span>
    </div>
  </div>

  <div class="input-container">
    <div class="form-group input-wrapper">
      <input
        type="password"
        id="password"
        class="input-box"
        formControlName="password"
        placeholder=" "
        (change)="onChange('password')"
        (input)="onInput('password')"
      />
      <span>Password</span>
    </div>
    <div class="error-message">
      <span *ngIf="inputTouched[InputFieldNames.password]">{{
        inputError[InputFieldNames.password]
      }}</span>
    </div>
  </div>

  <button type="submit">Sign In</button>
</form>
