:host {
  width: 100%;
}

main {
  max-width: 300px;
  position: relative;
}

.list-container {
  max-width: 300px;
}
.list-peer-container {
  max-width: 300px;
}

.list {
  margin-bottom: 34px;
}

.list-peer {
  margin-bottom: 34px;
}

.header {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.read-more {
  width: 22px;
}

.header:hover {
  color: var(--main-400);
  transition: all 0.3s;
}

.header-no-pointer {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.break {
  display: none;
}
.title {
  display: none;
}

.loading {
  position: absolute;
  top: 50px;
  left: calc(50% - 40px);
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
    max-width: 100%;
  }
  .list-container {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .list {
    padding: 0 8px 0 18px;
    border-right: solid 2px var(--main-600);
    margin-bottom: 0;
  }
  .list:last-child {
    border-right: none;
  }
  .list-peer-container {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .list-peer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    max-height: 360px;
  }
  .header-no-pointer {
    display: none;
  }
  .break {
    display: block;
  }
  .title {
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .header {
    font-size: min(22px, 2.8vw);
  }
}
