<main>
  <div class="price-container">
    <app-stock-price></app-stock-price>
  </div>
  <app-stock-menu></app-stock-menu>

  <!-- <router-outlet></router-outlet> -->

  <div class="content-container">
    <div class="container-left">
      <!-- <router-outlet></router-outlet> -->
      AAAAAAAAAAAAAAAAAA
    </div>
    <div class="container-right" >
      <div class="preview-list-large-screen">
        <app-preview-list-small [symbol]="'AAPL'"></app-preview-list-small>
      </div>
    </div>
  </div>
</main>
