:host {
  height: 100%;
}

main {
  height: 100%;
}

.price-container {
  position: sticky;
  width: 100%;
  height: 100px;
  background-color: white;
  top: 64px;
  z-index: 5;
  padding-top: 10px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container-left {
  width: 75%;
  min-height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-right: solid 2px var(--main-600);
  padding-right: 16px;
}
.container-left-chart {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-right {
  width: 22%;
}

.preview-list-large-screen {
  position: fixed;
  top: 330px;
  width: 22%;
}

@media screen and (max-width: 1200px) {
  .container-left {
    width: 100%;
    border: none;
    padding-right: 0;
  }
  .container-right {
    width: 0%;
  }
  .preview-list-large-screen {
    display: none;
  }
}
