<main>
  <div class="price-container">
    <app-stock-price></app-stock-price>
  </div>

  <app-stock-menu></app-stock-menu>

  <div class="content-container">
    <div
      [ngClass]="
        (activeMenu$ | async) === StockMenu.chart
          ? 'container-left-chart'
          : 'container-left'
      "
    >
      <router-outlet></router-outlet>
    </div>
    <div
      class="container-right"
      *ngIf="(activeMenu$ | async) !== StockMenu.chart"
    >
      <div class="preview-list-large-screen" *ngIf="isLargeScreen">
        <app-preview-list-small [symbol]="'AAPL'"></app-preview-list-small>
      </div>
    </div>
  </div>
</main>
