:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
}

.price-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo {
  max-height: 60px;
}

.loading {
  height: 64px;
}

.digits-wrapper {
  display: flex;
  flex-flow: nowrap row;
  width: 800px;
}
