<main>
  <div class="list-menu">
    <div
      (click)="onSelectOption(ListTypes.actives)"
      class="menu"
      [ngClass]="{ acitve: listType === ListTypes.actives }"
    >
      Most Searched
    </div>
    <div
      (click)="onSelectOption(ListTypes.gainers)"
      class="menu"
      [ngClass]="{ acitve: listType === ListTypes.gainers }"
    >
      Top Performing
    </div>
    <div
      (click)="onSelectOption(ListTypes.losers)"
      class="menu"
      [ngClass]="{ acitve: listType === ListTypes.losers }"
    >
      Worst Performing
    </div>
  </div>

  <div class="border-bot"></div>

  <div
    *ngIf="listType === ListTypes.actives && lists.actives"
    class="list-wrapper"
    id="custom-scroll-x"
  >
    <app-preview-list-large-entry
      [list]="lists.actives"
    ></app-preview-list-large-entry>
  </div>
  <div
    *ngIf="listType === ListTypes.gainers && lists.gainers"
    class="list-wrapper"
    id="custom-scroll-x"
  >
    <app-preview-list-large-entry
      [list]="lists.gainers"
    ></app-preview-list-large-entry>
  </div>
  <div
    *ngIf="listType === ListTypes.losers && lists.losers"
    class="list-wrapper"
    id="custom-scroll-x"
  >
    <app-preview-list-large-entry
      [list]="lists.losers"
    ></app-preview-list-large-entry>
  </div>
</main>
