<div id="chart">
  <apx-chart
    *ngIf="chartOptions && !loading"
    #column_chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>

  <div *ngIf="loading" class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <img
    *ngIf="loading"
    class="chart-placeholder"
    src="../../../assets/images/chart-loading.png"
  />
</div>
