<main>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="form-group input-wrapper">
        <input
          type="email"
          id="email"
          [ngClass]="
            authErrors[InputFieldNames.email]
              ? 'input-box auth-error-input-box'
              : 'input-box'
          "
          formControlName="email"
          placeholder=" "
          (blur)="onBlur('email')"
          (input)="onInput('email')"
        />
        <span
          [ngClass]="{
            'auth-error-span-box': authErrors[InputFieldNames.email]
          }"
          >Email</span
        >
      </div>
      <div class="error-message">
        <span *ngIf="inputTouched[InputFieldNames.email]">{{
          inputError[InputFieldNames.email]
        }}</span>
        <span *ngIf="authErrors[InputFieldNames.email]">{{
          authErrors[InputFieldNames.email]!.message
        }}</span>
      </div>
    </div>

    <div class="input-container">
      <div class="form-group input-wrapper">
        <input
          type="password"
          id="password"
          [ngClass]="
            authErrors[InputFieldNames.password]
              ? 'input-box auth-error-input-box'
              : 'input-box'
          "
          formControlName="password"
          placeholder=" "
          (blur)="onBlur('password')"
          (input)="onInput('password')"
        />
        <span
          [ngClass]="{
            'auth-error-span-box': authErrors[InputFieldNames.password]
          }"
          >Password</span
        >
      </div>
      <div class="error-message">
        <span *ngIf="inputTouched[InputFieldNames.password]">{{
          inputError[InputFieldNames.password]
        }}</span>
        <span *ngIf="authErrors[InputFieldNames.password]">{{
          authErrors[InputFieldNames.password]!.message
        }}</span>
      </div>
    </div>

    <button type="submit">Sign In</button>
  </form>

  <button><div [routerLink]="['/user/sign-up']">To Sign Up</div></button>

  <div>Loading status: {{ loadingStatus | async }}</div>
  <div>User is authenticate: {{ hasAuth }}</div>
  <div><button (click)="checkAuth()">check auth</button></div>
  <div>portfolio: {{ portfolio | async }}</div>
</main>
