<main>
  <div class="title">USER SIGN IN</div>
  <app-gradient-break
    [height]="8"
    [type]="2"
    [marginBottom]="30"
  ></app-gradient-break>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="form-group input-wrapper">
        <input
          type="email"
          id="email"
          [ngClass]="
            authErrors[InputFieldNames.email]
              ? 'input-box auth-error-input-box'
              : 'input-box'
          "
          formControlName="email"
          placeholder=" "
          (blur)="onBlur('email')"
          (input)="onInput('email')"
        />
        <span
          [ngClass]="{
            'auth-error-span-box': authErrors[InputFieldNames.email]
          }"
          >Email</span
        >
      </div>
      <div class="error-message">
        <span *ngIf="inputTouched[InputFieldNames.email]">{{
          inputError[InputFieldNames.email]
        }}</span>
        <span *ngIf="authErrors[InputFieldNames.email]">{{
          authErrors[InputFieldNames.email]!.message
        }}</span>
      </div>
    </div>

    <div class="input-container">
      <div class="form-group input-wrapper">
        <input
          type="password"
          id="password"
          [ngClass]="
            authErrors[InputFieldNames.password]
              ? 'input-box auth-error-input-box'
              : 'input-box'
          "
          formControlName="password"
          placeholder=" "
          (blur)="onBlur('password')"
          (input)="onInput('password')"
        />
        <span
          [ngClass]="{
            'auth-error-span-box': authErrors[InputFieldNames.password]
          }"
          >Password</span
        >
      </div>
      <div class="error-message">
        <span *ngIf="inputTouched[InputFieldNames.password]">{{
          inputError[InputFieldNames.password]
        }}</span>
        <span *ngIf="authErrors[InputFieldNames.password]">{{
          authErrors[InputFieldNames.password]!.message
        }}</span>
      </div>
    </div>

    <div class="buttons-group">
      <div class="reset-link">Forgot password?</div>
      <app-custom-button
        style="margin-right: 4px"
        [height]="30"
        [width]="140"
        [fontSize]="18"
        [bold]="true"
        type="submit"
        text="SIGN IN"
        [disabled]="loadingStatus === LoadingStatus_user.loading_auth"
      ></app-custom-button>
    </div>
  </form>

  <app-gradient-break
    [height]="8"
    [type]="2"
    [marginBottom]="30"
  ></app-gradient-break>

  <div class="to-sign-up">
    <span>New user?</span>
    <app-custom-button
      [routerLink]="['/user/sign-up']"
      [height]="30"
      [width]="240"
      [fontSize]="18"
      [bold]="true"
      type="submit"
      text="CREATE NEW ACCOUNT"
    ></app-custom-button>
  </div>

  <div>Loading status: {{ loadingStatus }}</div>
  <div>User is authenticate: {{ hasAuth }}</div>

  <div>portfolio: {{ portfolio | async }}</div>
</main>
