:host {
  display: flex;
  justify-content: center;
}

main {
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.background {
  margin-top: 40px;
  max-width: 500px;
  object-fit: contain;
}

.buttons-group {
  width: 400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.reset-link {
  padding: 4px 8px;
  font-size: 16px;
  text-decoration: underline;
  border-radius: 6px;
  transition: 0.3s all;
  cursor: pointer;
}
.reset-link:hover {
  background-color: var(--main-600);
  transition: 0.3s all;
}

.to-sign-up {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 24px;
}
