<main>
  <div class="container-left">
    <app-index-preview [isLargeScreen]="isLargeScreen"></app-index-preview>

    <app-user-portfolio-preview></app-user-portfolio-preview>

    <div class="preview-list-small-screen" *ngIf="isLargeScreen === false">
      <app-preview-list-small [symbol]="'all'"></app-preview-list-small>
    </div>

    <app-news symbol="all"></app-news>
  </div>

  <div class="container-right" *ngIf="isLargeScreen === true">
    <div class="preview-list-large-screen" id="custom-scroll-y-thin">
      <app-preview-list-small [symbol]="'all'"></app-preview-list-small>
    </div>
  </div>
</main>
