:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container-left {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-right: solid red 2px;
}

.container-right {
  height: 101%;
  width: 22%;
}

.preview-list-small-screen {
  display: none;
}

.preview-list-large-screen {
  position: sticky;
  height: 90vh;
  top: 100px;
  width: 90%;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .container-left {
    border-right: none;
    width: 94%;
  }

  .container-right {
    display: none;
  }

  .preview-list-small-screen {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}
