<main>
  <div class="container-left">
    <div>Portfolio</div>
    <hr />

    <app-index-preview></app-index-preview>

    <a [routerLink]="['/performance']">To list</a>

    <div class="preview-list-small-screen" *ngIf="isLargeScreen === false">
      <h1>Preview List</h1>
      <app-preview-list-small></app-preview-list-small>
    </div>

    <hr />
    <app-news></app-news>
  </div>

  <div class="container-right" *ngIf="isLargeScreen === true">
    <div class="preview-list-large-screen">
      <h1>Preview List</h1>
      <app-preview-list-small></app-preview-list-small>
    </div>
  </div>
</main>
