:host {
  display: flex;
  justify-content: center;
}

main {
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.background {
  margin-top: 40px;
  max-width: 500px;
  object-fit: contain;
}

.buttons-group {
  width: 400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.to-sign-in {
  width: 400px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 24px;
}

@media screen and (max-width: 765px) {
  .background {
    margin-top: 30px;
    max-width: min(90%, 400px);
  }
  .buttons-group {
    width: min(90%, 400px);
    flex-flow: row wrap;
  }
  .to-sign-in {
    width: min(90%, 400px);
    flex-flow: row wrap;
    font-size: 20px;
  }
}
